POSTGRES_DB=constellarr
POSTGRES_USER=constellarr
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
APP_PORT=8080
APP_UID=1000
APP_GID=1000
FRONTEND_PORT=5173
NZBGEEK_URL=https://api.nzbgeek.info/api
NZBGEEK_API_KEY=
USENET_HOST=eunews.frugalusenet.com
USENET_PORT=563
USENET_USERNAME=
USENET_PASSWORD=
USENET_CONNECTIONS=8
USENET_FALLBACK_HOSTS=news.frugalusenet.com
DOWNLOAD_DIR=./data
OMDB_URL=https://www.omdbapi.com/
OMDB_API_KEY=
JELLYFIN_URL=
JELLYFIN_API_KEY=
IMPORT_WEBHOOK_URL=
ALLOWED_HOSTS=
